/* basic reset */

html {
  box-sizing: border-box;
  font-size: 67.5%;
  color: #0A0908;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* custom css */

.pagebox{
  height: 100vh;
  background-color: #5E503F;
  background-image: url('./components/images/leatherbackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
}

.collection{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.my-card{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.card{
  background-color: #F2F4F3;
  width: 60vw;
  height:33vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

}

.edit-icon{
  display: block;
  float: right;
  margin-right: 5px;
 
}

.header{
  Font-Family: 'Questrial', Sans-Serif;
  font-size: 2em;
  font-weight: bold;
}

.meta{
  Font-Family: 'Questrial', Sans-Serif;
  font-size: 1em;
  font-style: italic;
  margin-top: 10px;
  
}

hr{
  border: 0;
  height: 1px;
  width: 80%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));}

  .description{
    Font-Family: 'Alegreya', serif;
  }

  .login-form{
    height: 100vh;
    width: 100%;
    background-color: #4c5e6e;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-form h2{
    font-size: 1.6 em;
    Font-Family: 'Questrial', Sans-Serif;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid #EBE6E2;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
  }
  .form-style{
    width:80%;
    height: 45vh;
    padding: 15px;
    background-color: #F2F4F3; 
    box-shadow:  0 2px 2px rgba(0,0,0,0.2),        
    0 1px 5px rgba(0,0,0,0.2),        
    0 0 0 12px rgba(255,255,255,0.4); 
   
  }
  Form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .fields{
    align-items: center;
    margin: 5px;
  }

  .textlabel{
    margin-right: 5px;
    padding: 5px;
  }

  .form-style button{
    text-decoration: none;
    padding: 0;
    font: inherit;
    color: white;
    background-color: #4c5e6e;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: .5em 1em;

  }
  .form-style button:hover{
    
    border: 1px solid #4c5e6e;
    color: #0A0908;
    background-color: #F2F4F3;
  }
  .form-style p{
    text-align: center;
    margin-top: 20px;
    Font-Family: 'Alegreya', serif;
    font-style: italic;
    font-weight: bold;
  }
  
